include ../partials/header
include ../partials/nav

.section
.container
	.row.valign-wrapper
		.col.s9
			h2 #{title}
		.col.s3.valign
			a.waves-effect.waves-light.red.btn.modal-trigger(href="#deleteModal")
				i.material-icons.right delete
				| Delete
	.row
		form.col.s12(action="/posters/" + poster.id + "?_method=PUT" method="POST")
			// Delete Confirmation Modal
			#deleteModal.modal
				.modal-content
					h4 Are you sure!?
					p.red-text Warning! This action cannot be undone.
				.modal-footer
					a#deleteYes.modal-action.modal-close.waves-effect.waves-light.btn.red(href='#!') Yes, Delete
					a.modal-action.modal-close.waves-effect.waves-light.btn(href='#!') No, Nevermind
					p.hide#poster_id #{poster.id}
			.row
				.input-field.col.s6
					input(type='text' value=poster.name disabled)
					input#event_name.validate.hide(type='text' name="poster[name]" value=poster.name)
					label(for='event_name') If you need to change the Event Name, create a new poster.
				.input-field.col.s6
					label(for='date') Date:
					input#date.validate.datepicker(type='date' name="poster[date]" value=poster.date required)
			.row
				.input-field.col.s6.validate
					label(for='start_time') Starting At:
				.input-field.col.s6.validate
					label(for='start_time') Ending At:
			.row
				.input-field.col.s6
					input#start_time.validate.timepicker(type='time' name="poster[start_time]" value=poster.start_time required)
				.input-field.col.s6
					input#end_time.validate.timepicker(type='time' name="poster[end_time]" value=poster.end_time required)
			.row
				.input-field.col.s12
					input#address.validate(type='text' name="poster[address]" value=poster.address required)
					label(for='address') Address:
			.row
				.input-field.col.s6
					input#city.validate(type='text' name="poster[city]" value=poster.city required)
					label(for='city') City:
				.input-field.col.s3
					input#state.validate(type='text' name="poster[state]" value=poster.state required)
					label(for='state') State:
				.input-field.col.s3
					input#zip.validate(type='text' name="poster[zip]" value=poster.zip required)
					label(for='zip') Zip:
			.row
				.input-field.col.s12
					unless poster.details
						input#details.validate(type='text' placeholder="You can add extra details here if needed." name="poster[details]")
					else
						input#details.validate(type='text' name="poster[details]" value=poster.details)
					label(for='details') Details:
			.row
				.input-field.col.s12
					input(type='url' value=poster.imgurl disabled)
					input#imgurl.validate.hide(type='url' name="poster[imgurl]" value=poster.imgurl)
					label(for='imgurl') If you need to change the Image Url, create a new poster.
			.row
				.input-field.col.s12
					button.btn.waves-effect.waves-light(type='submit')
						| Update Poster
						i.material-icons.right note_add

include ../partials/materializeScript
script(type="text/javascript" src="/javascripts/poster_initialize.js")
