include ../partials/header
include ../partials/nav
include ../partials/subnav

.wrapper
	h3#thisWeek This Week:
		if thisWeeksPosters.length > 0
			.columns
				each poster in thisWeeksPosters
					.pin
						.card
							.card-image
								a(href="/posters/" + poster.id): img(src=poster.imgurl)
							.card-action#heart
								unless user
									a.tooltipped(href="#" data-position='bottom', data-delay='50', data-tooltip='Login to heart!'): span.card-title.red-text.flow-text &#10084;
								else
									a.tooltipped(href="#" data-position='bottom', data-delay='50', data-tooltip='Click to heart!'): span.card-title.red-text.flow-text &#10084;
								span#hearts-total.flow-text= " " + poster.hearts
								span.hide#id #{poster.id}
								if poster.starting < today && poster.ending > today
									span.indent.center.red-text.example HAPPENING NOW!
							if thisWeeksDemo
								span.indent.right.red-text.flow-text EXAMPLE POSTER
			.wrapper
				a(href="#"): p.center.flow-text Back To Top
		else
			h5.indent No posters to show! :(

.wrapper
	h3#nextWeek Next Week:
		if nextWeeksPosters.length > 0
			.columns
				each poster in nextWeeksPosters
					.pin
						.card
							.card-image
								a(href="/posters/" + poster.id): img(src=poster.imgurl)
							.card-action#heart
								unless user
									a.tooltipped(href="#" data-position='bottom', data-delay='50', data-tooltip='Login to heart!'): span.card-title.red-text.flow-text &#10084;
								else
									a.tooltipped(href="#" data-position='bottom', data-delay='50', data-tooltip='Click to heart!'): span.card-title.red-text.flow-text &#10084;
								span#hearts-total.flow-text= " " + poster.hearts
								span.hide#id #{poster.id}
							if nextWeeksDemo
								span.indent.right.red-text.flow-text EXAMPLE POSTER!
			.wrapper
				a(href="#"): p.center.flow-text Back To Top
		else
			h5.indent No posters to show! :(

.wrapper
	h3#future Future:
		if futurePosters.length > 0
			.columns
				each poster in futurePosters
					.pin
						.card
							.card-image
								a(href="/posters/" + poster.id): img(src=poster.imgurl)
							.card-action#heart
								unless user
									a.tooltipped(href="#" data-position='bottom', data-delay='50', data-tooltip='Login to heart!'): span.card-title.red-text.flow-text &#10084;
								else
									a.tooltipped(href="#" data-position='bottom', data-delay='50', data-tooltip='Click to heart!'): span.card-title.red-text.flow-text &#10084;
								span#hearts-total.flow-text= " " + poster.hearts
								span.hide#id #{poster.id}
							if futureWeeksDemo
								span.indent.right.red-text.flow-text EXAMPLE POSTER!
			.wrapper
				a(href="#"): p.center.flow-text Back To Top
		else
			h5.indent No posters for the future yet! Find some events and add their posters! :(
.section
.section

include ../partials/materializeScript
script(type="text/javascript" src="/javascripts/index.js")
