include ../partials/header
include ../partials/nav

.wrapper
	h3#thisWeek This Week:
		if thisWeeksPosters.length > 0
			.columns
				each poster in thisWeeksPosters
					.pin
						.card
							.card-image
								a(href="/posters/" + poster.id): img(src=poster.imgurl)
							.card-action#heart
								a(href="#"): span.card-title.red-text &#10084;
								span#hearts-total= " " + poster.hearts
								span.hide#id #{poster.id}
								if poster.starting < today && poster.ending > today
									span.indent.center.red-text HAPPENING NOW!
			.wrapper
				a(href="#"): p.center.flow-text Back To Top
		else
			h5 No posters to show! :(

.wrapper
	h3#nextWeek Next Week:
		if nextWeeksPosters.length > 0
			.columns
				each poster in nextWeeksPosters
					.pin
						.card
							.card-image
								a(href="/posters/" + poster.id): img(src=poster.imgurl)
							.card-action#heart
								a(href="#"): span.card-title.red-text &#10084;
								span#hearts-total= " " + poster.hearts
								span.hide#id #{poster.id}
			.wrapper
				a(href="#"): p.center.flow-text Back To Top
		else
			h5 No posters to show! :(

.wrapper
	h3#future Future:
		if futurePosters.length > 0
			.columns
				each poster in futurePosters
					.pin
						.card
							.card-image
								a(href="/posters/" + poster.id): img(src=poster.imgurl)
							.card-action#heart
								a(href="#"): span.card-title.red-text &#10084;
								span#hearts-total= " " + poster.hearts
								span.hide#id #{poster.id}
			.wrapper
				a(href="#"): p.center.flow-text Back To Top
		else
			h3 No posters for the future yet! Find some events and add their posters! :(

include ../partials/materializeScript
script(type="text/javascript" src="/javascripts/index.js")
