include ../partials/header
include ../partials/nav

.container
	.row
		.col.s12
			h2.text-accent #{poster.name}
			if user === poster.user_id
				a(href='#') edit
		.col.s12.m4
			img.poster.materialboxed(src=poster.imgurl)
		.col.s12.m8.flow-text
			p
				span.bold Address:
				br
				span.indent #{poster.address}
				br
				span.indent #{poster.city}, #{poster.state}, #{poster.zip}
				br

			p
				span.bold On:
				br
				span.indent #{poster.date}

			p
				span.bold From:
				br
				span.indent= poster.start_time + " "
				span.bold= "to "
				| #{poster.end_time}

			unless poster.details == ""
				p
					span.bold Details:
					br
					span.indent #{poster.details}

			if poster.hearts
				p.bold HEARTS: #{poster.hearts}
			else
				p.bold HEARTS: 0

include ../partials/materializeScript
