include ../partials/header
include ../partials/nav

.container
	.row
		.col.s12
			h2.left.text-accent #{poster.name}
	.row
		.col.s12.m4
			img.poster.materialboxed(src=poster.imgurl)
			if poster.hearts
				p.bold.left.red-text &#10084; #{poster.hearts}
			else
				p.bold.left.red-text &#10084; 0
			if authorized
				p.bold.right: a(href='/posters/'+poster.id+'/edit') edit
		.col.s12.m6.offset-m2.flow-text
			#map.z-depth-1
			p.flow-text
				span.bold Address:
				br
				span.indent #{poster.address}, #{poster.city}, #{poster.state}, #{poster.zip}
			p
				span.bold On:
				br
				span.indent #{poster.date}
			p.flow-text
				span.bold From:
				br
				span.indent= poster.start_time + " "
				span.bold= "to "
				| #{poster.end_time}
			unless poster.details == ""
				p.flow-text
					span.bold Details:
					br
					span.indent #{poster.details}
.section
	.hide
		input#address(type='textbox', value=poster.address + ", " + poster.city + ", " + poster.state + " " + poster.zip)

script(type="text/javascript" src="../javascripts/maps.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo-q4oyHyb8PboBomFwwpcVfVXDlW1Rn0&v=3&callback=initMap")
include ../partials/materializeScript
